header {
    text-align: center;
}
h1,h2 {
    font-family: sans-serif;
    color: rgb(190, 187, 22);
    text-align: center;
    text-shadow: 2px 2px;
}
figure {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
}
p {
    color: rgb(189, 183, 75);
}
.bookinfo {
    background-color: rgb(53, 50, 50);
    width: 40%;
    border: 15px solid rgb(191, 194, 26);
    padding: 50px;
    margin: auto;
    font-size: x-large;
    align-content: center;
    align-items: center;
}

body {
    background-color: rgb(17, 17, 22);
}
a {
    color: black;
}
figcaption {
    color: red;
    text-align: center;
}