header {
    text-align: center;
}
h1 {
    font-family: sans-serif;
    color: gray;
}
p {
    color: maroon;
}
.bookinfo {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(71, 58, 58);
}